﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/content/css/Style.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="content/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="content/js/bootstrap.min.js"></script>
</head>
<body>
    <section id="container">
        <header>
            <a href="/">
                <div id="logo"></div>
            </a>
            <div id="social-media">
                <a href="//facebook.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/facebook.png" />
                    </div>
                </a>
                <a href="//twitter.com" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/twitter.png" />
                    </div>
                </a>
                <a href="#" target="_blank">
                    <div class="social">
                        <img src="~/Content/img/googleplus.png" />
                    </div>
                </a>
            </div>
          
        </header>
        <nav>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            @*<li class="active"><a href="#">link <span class="sr-only">(current)</span></a></li>*@
                            <li><a href="#">Ana sayfa</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Game</a></li>
                                    <li><a href="#">software for pc</a></li>
                                    <li><a href="#">software for mac</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Blog</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Haberler</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">iletişim</a></li>
                            
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar">
                            <li>
                                <a href="#">
                                    <img width="25px" height="25px" src="/content/img/tr.png" title="turkce">
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <img width="25px" height="25px" src="/content/img/en.png" title="english">
                                </a>
                            </li>        
                                        </ul>
                        <button type="button" class="btn btn-primary btn-sm" >
                            <span class="glyphicon glyphicon-user" </span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-log-in" </span>giriş
                        </button>
                        
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    
					<!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
						
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" >
                        <div class="item active">
                            <img src="content/img/software.png" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="content/img/software.png" alt="...">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>



            </nav>
        </nav>
        <section id="content">
            @RenderBody()
        </section>
        <footer>
            <footer>
                <small>SEDAT ÖZKAN</small>
            </footer>
        </footer>
    </section>
</body>
</html>
